body {
  margin: 0;
  overflow: hidden;
  background-color: #1a202c;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0,0,0, .1), 0 2px 4px -1 rgba(0, 0, 0, .6);
  background-color: #fff;
  margin: 0;
}

.game-message {
  position: inherit;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px #000;
}

.level-display {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px #000;
}